html, body, #map { width:100%; height:100%; margin:0; padding:0; z-index: 1; background-color: black }
#slider{ position: absolute; top: 10px; right: 10px; z-index: 5; }
.leaflet-tooltip { background-color: #000; border-color: #000; color: #fff; transition: .2s opacity; opacity: 0; text-align: center; font-size: 14px }
.leaflet-tooltip:before { border-top-color: #000; }

@media (min-width: 576px) {
  #playersList .modal-dialog {
    max-width: 900px;
  }
  #legendList .modal-dialog {
    max-width: 500px;
  }
}

#playersList .modal-body,
#legendList .modal-body {
  padding: 0
}
#playersList .table,
#legendList .table,
#legendList .table tbody {
  width: 100%;
}
#playersList .table th:nth-child(1) {
  width: 33%;
}
#playersList .table th:nth-child(2) {
  width: 25%;
}
#playersList .table th:nth-child(2) {
  width: 15%;
}
#playersList .table th:nth-child(5) {
  width: 25%;
}
#legendList .table tr:nth-child(2) td:nth-child(1) {
  width: 10%;
}
#legendList .table tr:nth-child(2) td:nth-child(2) {
  width: 90%;
}

#legendList .legend-list-item {
  cursor: pointer;
}
#legendList .legend-list-item.disabled {
  background-color: lightgray;
  color: darkgray;
}

.dropdown-item {
  cursor: pointer;
}
.dropdown-item.active,
.dropdown-item:hover,
.dropdown-item:active {
  background-color: blue;
  color: white !important;
}
